.free_Content{
    display : flex;
    width: 100%;
    background-color: transparent;
    max-width: 1280px;
    margin: auto;
    .section_Left{
        min-height : 100vh;
        width : 40%;
        
    }
    .section_Middle{
        min-height: 100vh;
        width : 100%;
        display:flex;
        flex-wrap:wrap;
        justify-content : center;
        align-content: flex-start;
        margin-top: 12px;
    }
    .section_Right{
        min-height : 100vh;
        width : 40%;
        .sectionOne_Ad{
            box-shadow: 0 0 8px;
            margin: 24px;
            height: 300px;
            border-radius: 10px;
            img{
                width: 100%;
                height: 300px;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }
}

.paid_Content{
    display : flex;
    width: 100%;
    background-color: lightgrey;
    max-width: 1280px;
    margin: auto;
    .section_Left{
        min-height : 100vh;
        width : 40%;
        
    }
    .section_Middle{
        min-height: 100vh;
        width : 100%;
        display:flex;
        flex-wrap:wrap;
        justify-content : center;
        align-content: flex-start;
        margin-top: 12px;
    }
    .section_Right{
        min-height : 100vh;
        width : 40%;
        .sectionOne_Ad{
            box-shadow: 0 0 8px;
            margin: 24px;
            height: 300px;
            border-radius: 10px;
            img{
                width: 100%;
                height: 300px;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }
}

svg{
    height: 30px;
    width: 30px;
    cursor: pointer;
}




